.apply_step1{
	background-image:url("../images/apply_step1.png");
	background-size:cover; 
    margin-bottom: 10px;
	width:100%;
	background-position: center;
	height:101px;


}
.apply_step2{
	background-image:url("../images/apply_step2.png");
	background-size:cover; 
	width:100%;
	background-position: center;
	height:101px;
	margin-bottom: 10px;

}
.tips{
    color:white;	
	background:#BCE7F3;
	text-align:center;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
	margin-bottom:20px;
	border-radius:5px;
	padding:5px;
}

.unchk{
	background-image:url("../images/uncheck.png");
	background-size:cover; 
	background-position: center;
	height:30px;
	width:30px;


}
.btn-next{
	background-image:url("../images/btn-next.png");
	background-size:cover; 
	background-position: center;
	height:40px;
	width:100px;
	border-radius:5px;
	margin:0 auto;
}
.btn-close{
	background-color:gree;
	height:40px;
	width:100px;
	border-radius:5px;
	margin:0 auto;
}
.btn-submit{
	background-image:url("../images/submit.png");
	background-size:cover; 
	background-position: center;
	height:40px;
	width:100px;
	border-radius:5px;
	margin:auto;
}
.input-title{
	color:gray;
	font-size: 14pt;
	padding-left: 16px;




}

.list-reset{
    margin:10px 15px;

}
.list-reset .item-reset{
	border-radius: 15px;
	padding: 4px 0 3px 16px;
}

.list-reset .item-bot10{
	margin-bottom: 10px;
}

.input-label-reset{
	text-indent: 3px;
	width: 25%;
	font-size: 13pt;
	color:gray;
	padding: 5px 10px 5px 0px;
}
.item-reset input{
	width:75%;
	font-size: 14pt;
	color:gray;


}
.item-reset .input-tel{
	padding-right: 0px;
	width:30%;
}

.item-reset .input-tel-btn{
	background: url("../images/sendbtn.png");
	background-size:cover; 

	height:45px;
	border:0px;
	margin-top:-5px;
	margin-left: -40px;
	margin-bottom:-5px;
	float:right;




}

.auditmsg{
	background: url("../images/auditmsg.png");

	background-size:cover; 
	margin:50px auto 30px auto;
	height:100px;
	width:100px;
}

.msg h3{
	color:green;
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}

.msg h5{
	color:gray;
	font-size: 12pt;
	text-align: center;
}

.avatar{
	padding-top:5px;
	text-align:center;
	height:250px;
	background:#eeeeee;
}
.avatar img{
	border-radius:50%;
	width:70px;
	height:70px;
}
.avatar div{
	margin:3px auto;
}
.avatar  span{
	color:#30B7BF;
	font-size:14pt;
	font-weight: bold;
}
.avatar .role{
	background: #30B7BF;
	border-radius: 10px;
	padding:2px 3px;
	margin-top: 10px;
	color:white;
	font-size:10pt;
	width:100px;
}
.agentinfo{
	margin-top: 10px !important;
	background: white;
	width:85%;
	height:80px;
}
.text-pull-left{
	float: left ;

}
.text-pull-right{
	float: right ;
}

.agentinfo .extendinfo{
	width:50%;
	height:85%;
	padding-top: 20px;
	padding-left: 10px;
	border-right: #30B7BF solid 2px;
	padding-bottom:0px;
	font-size: 8pt;
}
.agentinfo .cardinfo{
	width:50%;
	height:85%;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom:0px;
	font-size: 8pt;
}
.block-info{
	margin:0 auto;
	border-bottom: solid #eeeeee 2px;
	height:60px;
	line-height:60px;
		color:#30B7BF;
	font-size: 14pt;
}
.block-info ul{

	height:100%;
}
.block-info ul li{
	margin-top: -8px;
	height:50%;
	text-align: center;

}
.info_box_list{
	padding:0 !important;
	border-bottom:3px solid #30B7BF !important;

}
.info_box{
	border-left:0 !important;
	border-right:0 !important;
	padding:0 !important;
}
.info_box strong{
	display: block;
	font-size:14px;
	color: #cfd8dc;
}
.info_box span{
	font-size: 10px;
    font-weight: 500;
    color: #cfd8dc;
    text-transform: uppercase;
}
.button-game{
	background-color:#30B7BF;
	border-radius:10px;
	width:200px !important;
	margin:0 auto;
	color:white;




}
.col{
  background-color: white;
  padding: 5px;
  border-bottom: 0px solid #ddd;
  border-radius: 2px;
  text-align: center;

}

.item.item-custom {
    border-color: #10e6bf;
    background-color:#10e6bf;
    color: #fff; 
}








 
